/* purgecss start ignore */ 
.markdown {
  @apply text-lg leading-relaxed text-gray-300;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown ol {
  list-style: numeric;
}

.markdown ul {
  list-style: circle;
}

.markdown ol, .markdown ul {
  list-style-position: inside;
}

.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

.markdown code {
  @apply text-green-400;
}
/* purgecss end ignore */
